<h1>Edit Quote</h1>
<%= form_for @post do |f| %>
  <%= f.text_field :movie, placeholder: "Movie Title" %><br>
  <%= f.text_field :year, placeholder: "Year" %><br>
  <%= f.text_field :quote, placeholder: "Favorite Quote" %><br>
  <br>
  <%= f.submit "Save" %>
<% end %>
